body {
  background: #87c0f1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #94c0e6, #1b4c78); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #94c0e6, #1b4c78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} /*Se cambiaron los pantones para mejor interacción*/

.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.formulario input, select {
  border: none;
  height: 20px;
  border-radius: 5px;
}

.error {
  background-color: red;
}

.elemento-lista {
  color: #021b38;
  font-family: Verdana;
  margin: 10px 0;
  border: 5px solid #021b38;
  border-radius: 5px;
  padding: 0 5px;
  width: 400px;
  margin: 20px
} /*Se cambiaron los pantones para mejor interacción*/

.elemento-lista input {
  border: none;
  background: none;
  color: #021b38;
  font-family: Verdana;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
} /*Se cambiaron los pantones para mejor interacción*/